@font-face {
  font-family: UFC;
  src: url(sternbach.ttf);
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: UFC, cursive;
  height: 100vh;
  background-color: #d33818;
  color: #fbffff;
}

.stageFight {
  margin: 10em auto;
  border: 0.3em solid black;
  border-radius: 0.3em;
  width: 80%;
  height: 50%;
  background-color: #a82222;
}

h1 {
  font-size: 2.125rem;
}

#stage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
}

#stage-fighter {
  font-size: 2.5rem;
  gap: 1rem;
}

button {
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  padding: 1em;
  background-color: #d2ad42;
  color: #fbffff;
  font-family: UFC;
  color: black;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  .stageFight {
    width: 70%;
  }
  #stage-fighter {
    font-size: 3.725rem;
    gap: 1.3em;
  }
  button {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .stageFight {
    width: 50%;
  }
  #stage-fighter {
    font-size: 3.725rem;
    gap: 1.5em;
  }
}
